/* common start  */
@font-face {
  font-family: PTSans-Regular;
  src: url('../fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: PTSans-Bold;
  src: url('../fonts/PTSans-Bold.ttf');
}

@font-face {
  font-family: HelveticaNeue-Bold;
  src: url('../fonts/HelveticaNeue-Bold.ttf');
}
/* @font-face {
  font-family: fa-regular-400;
  src: url('../fonts/fa-regular-400.ttf');
} */

body{
  font-family: PTSans-Regular;
  font-size: 16px;
  color: #898989;
}
/* common end  */

/* header start */
header{
  background-color: #fcdb00;
  padding: 25px 0;
}
.cus_nav{}
.logo{}
.menu{}
.menu ul li a{
  font-family: PTSans-Bold;
  font-size: 22px;
  color: #010101 !important;
  padding-right: 100px !important;
}
.menu ul li:last-child a{
  padding-right: 0 !important;
}
.menu ul li a:hover{
  color: white !important;
}
/* header end */

/* slider start */
.slider{
  background-color: #fcdb00;
  padding-bottom: 100px;
}


.cust_carousel-indicators {
    bottom: -80px;
}
.cust_carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.s_text{
  margin-top: 60px;
}
.s_text h1{
  font-family: PTSans-Bold;
  font-size: 32px;
  color: #010101;
}
.s_text h2{
  padding: 20px 0;
  font-size: 20px;
  color: #313841;
}
.s_text p{
  margin-bottom: 35px;
  color: #555555;
}
.s_icon{}
  .s_icon ul li{
    /* margin-left: 15px !important; */
    margin-right: 30px !important;
  }
.s_icon ul li i{
  font-size: 42px;
  color: #010101;
  transition: .3s;
}
.s_icon ul li i:hover{
  transform: scale(0.8);
  color: white;

  /* display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 5px #000;
  padding: 0.5em 0.6em; */
}
.s_image{}
.s_image img{}
/* slider end */

/* feature start */
.feature{}
.com_padding{
  padding-top: 100px;
  padding-bottom: 120px;
}
.com_title{}
.c_h2{
  margin-bottom: 15px;
  font-family: PTSans-Bold;
  font-size: 32px;
  color: #010101;
}
.c_p{
  font-size: 20px;
  color: #313841;
  line-height: 28px;
}
.f_item{
  margin-top: 70px;
}
.f_icon{
  transition: 0.3s;
}
.f_icon i{
  margin-top: 2px;
  font-size: 50px;
  color: #010101;
  transition: .3s;
}
.f_icon i:hover{
  transform: scale(0.8);
}
.f_text{}
.f_text h2{
  margin-bottom: 12px;
  font-size: 22px;
  color: #010101;
}
.f_text p{
  letter-spacing: 1px;
}
/* feature end */

/* contact start */
.contact{
  background-color: #010101;
}
.yellow{
  color: #fcdb00;
}
.con_form {
    margin-top: 35px;
    margin-bottom: 70px;
}
.con_input{
  height: 55px;
  padding: 15px 20px;
  font-family: PTSans-Regular;
  color: #898989;
}
.con_submit{
  width: 100%;
  height: 55px;
  background-color: #fcdb00;
  font-family: PTSans-Bold;
  font-size: 16px;
  color: #010101;
  text-transform: uppercase;
}
.con_submit:hover {
  background-color: #898989;
}
.con_icon{}
.con_icon li{
  margin-right: 30px !important;
}
.con_icon li:last-child{
  margin-right: 0 !important;
}
.con_icon li i{
  font-size: 42px;
  color: #fcdb00;
}
.con_icon li i:hover{
  color: #fff;
}
/* contact end */

/* footer start */
footer{
  background-color: #010101;
  padding-bottom: 120px;
}
.footer_1{

}
.footer_1 address{
    color: #fff;
}
.footer_2{

}
.footer_2 p a{
  color: #fff;
  text-decoration: none;
}
/* footer end */
